html, body {
    padding: 0;
    margin: 0;
    background-color: lightskyblue;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 70px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60%;
}


.button-wrapper {
    width: 65%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
