* {
}
html {
    width: 100%;
    height: 100%;
}
html, body {
    padding: 0;
    margin: 0;
    background-color: lightskyblue;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60%;
}
.step {
    margin: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sign {
    margin-right: 5px;
    height: 25px;
    width: 25px;
    background-color: lightsteelblue;
    border-radius: 50%;
    border: 2px solid lightslategray;
}

.button-wrapper {
    width: 65%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    width: 7rem;
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: #F082AC;
}
